In [2]:
import sqlalchemy
import pymysql
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import matplotlib.pyplot as plt

In [3]:
pymysql.install_as_MySQLdb()

In [4]:
indices = ['Hose']

In [5]:
def schemacreator(index):
    engine = sqlalchemy.create_engine('mysql://root:12345678@localhost:3306/')
    engine.execute(sqlalchemy.schema.CreateSchema(index))

In [6]:
for index in indices:
    schemacreator(index)

In [7]:
data = pd.read_csv("HSX.csv")

In [8]:
data.describe()

,<DTYYYYMMDD>,<Open>,<High>,<Low>,<Close>,<Volume>
count,418.0,418.000000,418.000000,418.000000,418.000000,4.180000e+02
mean,20210827.0,27.852129,28.490766,27.485478,28.288397,1.575546e+06
std,0.0,27.503455,27.918593,27.336218,27.816875,3.509627e+06
min,20210827.0,0.200000,0.200000,0.120000,0.180000,1.000000e+02
25%,20210827.0,9.515000,9.675000,9.392500,9.547500,3.495000e+04
50%,20210827.0,19.400000,20.000000,19.075000,19.750000,2.555500e+05
75%,20210827.0,38.000000,39.475000,37.900000,39.200000,1.341675e+06
max,20210827.0,195.600000,195.600000,195.500000,195.500000,2.637250e+07

In [9]:
df_new = data.sort_values('<Volume>',ascending=False).head(30)

In [10]:
df_new.head()

    <Ticker>  <DTYYYYMMDD>  <Open>  <High>  <Low>  <Close>  <Volume>
280      POW      20210827   11.25   12.00  11.05    11.90  26372500
192      HPG      20210827   47.50   47.85  46.75    47.60  24491000
219      KBC      20210827   37.00   39.50  37.00    39.40  24488900
87       CTG      20210827   30.70   31.20  30.10    31.15  19888900
337      TCB      20210827   47.80   48.15  47.00    48.05  19689500

In [11]:
df_new.describe()

,<DTYYYYMMDD>,<Open>,<High>,<Low>,<Close>,<Volume>
count,30.0,30.000000,30.000000,30.000000,30.000000,3.000000e+01
mean,20210827.0,31.292000,32.289333,30.820000,32.175000,1.190753e+07
std,0.0,20.801543,21.050573,20.618017,21.056213,6.119357e+06
min,20210827.0,1.990000,1.990000,1.660000,1.850000,6.261900e+06
25%,20210827.0,17.025000,17.737500,16.812500,17.737500,7.483850e+06
50%,20210827.0,27.375000,28.075000,26.900000,28.050000,9.109850e+06
75%,20210827.0,37.525000,39.237500,37.225000,39.112500,1.608258e+07
max,20210827.0,106.000000,106.900000,105.000000,106.900000,2.637250e+07

In [12]:
hose = df_new['<Ticker>'].to_list()

In [13]:
def get_symbols(symbol):
    url = f'https://dstock.vndirect.com.vn/tong-quan/{symbol}'
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36'}
    response = requests.get(url, headers = headers)
    soup = BeautifulSoup(response.text, 'html.parser')
    url_price = f'https://finfo-api.vndirect.com.vn/v4/stock_prices?sort=date&size=1500&q=code:{symbol}~date:gte:2020-06-26'
    data = requests.get(url_price, headers = headers)
    data_stock = data.json()
    vnindex  = pd.DataFrame(data_stock['data'])
    return vnindex

In [14]:
df_stock=[]
for ticker in hose:
    df_stock.append(get_symbols(ticker))

In [15]:
mapper = {'Hose':hose}

In [16]:
for index in indices:
    engine = sqlalchemy.create_engine('mysql://root:12345678@localhost:3306/'+index)
    for i,symbol in zip(range(len(df_stock)),mapper[index]) :
        df_stock[i]=df_stock[i].reset_index()
        df_stock[i].to_sql(symbol,engine)